{% extends "html.twig" %}

{% block title %}React JS{% endblock %}

{% block headScripts %}
{% endblock %}

{% block header %}
    <h1>React Test</h1>
{% endblock %}

{% block content %}
<div>
    <div id="like_button_container"></div>
    
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script> 
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/babel" src="/react/like_button.js"></script>
    
    <noscript>JavaScript is required to view this page.</noscript>
</div>
{% endblock %}